<!-- RESUME SECTION-->
<li id="submenu-1" class="list-group-item sidebar-separator menu-collapsed submenu">
  <small>
    RESUME
  </small>
</li>
<li class="nav-item submenu-1-item">
  <%= link_to(experience_path, html_options = { class: "nav-link" }) do %>
  <i class="fas fa-briefcase fa-fw"></i>
  <span>
    Experience
  </span>
  <% end %>

</li>
<li class="nav-item submenu-1-item">
  <%= link_to(education_path, html_options = { class: "nav-link" }) do %>
  <i class="fas fa-graduation-cap fa-fw"></i>
  <span>
    Education
  </span>
  <% end %>
</li>
<li class="nav-item submenu-1-item">
  <%= link_to(skills_path, html_options = { class: "nav-link" }) do %>
  <i class="fas fa-dumbbell fa-fw"></i>
  <span>
    Skills
  </span>
  <% end %>
</li>

<!-- CURRENT SECTION-->
<li id="submenu-2" class="list-group-item sidebar-separator menu-collapsed submenu">
  <small>
    CURRENT
  </small>
</li>
<li class="nav-item submenu-2-item">
  <%= link_to(clients_path, html_options = { class: "nav-link" }) do %>
  <i class="far fa-building fa-fw"></i>
  <span>
    Clients
  </span>
  <% end %>
</li>
<li class="nav-item submenu-2-item">
  <%= link_to(projects_path, html_options = { class: "nav-link" }) do %>
  <i class="fas fa-folder fa-fw"></i>
  <span>
    Projects
  </span>
  <% end %>
</li>

<!-- OTHER SECTION-->
<li id="submenu-3" class="list-group-item sidebar-separator menu-collapsed submenu">
  <small>
    LIFESTYLE
  </small>
</li>
<li class="nav-item submenu-3-item">
  <%= link_to(hobbies_path, html_options = { class: "nav-link" }) do %>
  <i class="fas fa-quidditch fa-fw"></i>
  <span>
    Hobbies
  </span>
  <% end %>
</li>
<li class="nav-item submenu-3-item">
  <%= link_to(lifestyle_path, html_options = { class: "nav-link" }) do %>
  <i class="fas fa-globe-asia fa-fw"></i>
  <span>
    Lifestyle
  </span>
  <% end %>
</li>

<!-- CONTACT SECTION-->
<li id="submenu-4" class="list-group-item sidebar-separator menu-collapsed submenu">
  <small>
    CONTACT
  </small>
</li>
<div id="contact" class="d-flex justify-content-start submenu-4-item">
  <a class="socialicon" href="https://github.com/edgr/" target="_blank">
    <i class="fab fa-github"></i>
  </a>
  <a class="socialicon" href="https://www.linkedin.com/in/edouardgarret/" target="_blank">
    <i class="fab fa-linkedin"></i>
  </a>
  <a class="socialicon" href="mailto:edouard.garret@gmail.com" target="_blank">
    <i class="fas fa-envelope-square"></i>
  </a>
  <a class="socialicon" href="https://wa.me/34651952237" target="_blank">
    <i class="fab fa-whatsapp-square"></i>
  </a>
</div>
